<div class="d-flex flex-wrap justify-content-center">
{% for instance in media %}
    <div class="flex-column m-1" style="cursor: pointer" onclick="jquery(this).trigger({type: 'choose', value: {{ instance.id }}})">
        <div class="text-center bg-light p-3">
            <div>
                <img height="100" src="{{ render_media(instance, 100, 100) }}"/>
            </div>
            <hr>
            {{ instance }}
        </div>
    </div>
{% endfor %}
</div>