<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}CMS{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block javascripts %}
			<script src="{{ asset('bundles/edbadmin/dist.js') }}"></script>
			<script>
				const confirmText = "{{ 'Confirm' | trans }}"
			</script>
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
