<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/edbadmin/dist/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block javascripts %}{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
