<td>
    <div class="btn-group">
        {% for action in element.actions %}
            {% if is_granted(admin.requiredRoleForRoute(action.name)) %}
                {% include action.getOption('template') %}
            {% endif %}
        {% endfor %}
    </div>
</td>
