{% extends '@EDBAdmin/list_column.html.twig' %}

{% block value %}
	{% set max = 30 %}
	<div class="badge bg-primary">
		<span title="/{{ object }}">/{{ object | length < max ? object : object | slice(0, max) ~ '...' }}</span>
	</div>
{% endblock %}
