{% extends '@EDBAdmin/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col offset-3 col-6 mt-5 text-center">
				<div class="block pt-5">
					<div class="login-user-icon">
						<i class="fa fa-user-alt fa-2x"></i>
					</div>
					<div class="mb-4 mt-5">
						<div class="col col-lg-8 m-auto">
							<form method="post" action="{{ path('check_form_login') }}">
								<div class="form-group">
									<input type="text" name="_username" class="form-control mb-1 text-center" placeholder="{{ 'Username' | trans }}">
									<input type="password" name="_password" class="form-control mb-3 text-center" placeholder="{{ 'Password' | trans }}">
									<button class="btn btn-primary d-block w-100" type="submit">{{ 'Login' | trans }}</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
